.Home{
    
    padding: 20px;
    display: grid;
    grid-template-columns:1fr;
    gap: 1em;
    grid-auto-rows: minmax(100px , auto);
    grid-auto-columns: minmax(auto,auto);
    
    
}

.bookcard {
   
    margin: 5px ;
    
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr ;
    grid-template-rows: 1fr 2fr;
    /* gap: 0px 0px; */
    grid-template-areas:
      "cover Book-Name Genre Rating "
      "cover Description Description Description";
  }
  .cover {
       
        margin: 10px 20px;
        grid-area: cover; 
    }
  .Book-Name { 
        padding: 5px;
        grid-area: Book-Name; 
    }
  .Genre { 
        padding: 5px;
        grid-area: Genre; 
    }
  .Description { 
        padding: 5px;
        grid-area: Description; 
    }
  .Rating {
    padding: 5px;
    grid-area: Rating;
}


.Home a{  
    margin: 0% 25% 0% 25%;
    overflow: hidden;
    width: 50%;
    border: black 1px solid;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.Home a:hover{
    transform: scale(1.1);
    background-color: rgb(196, 194, 194);
}

.side-menu{
    
    position: fixed;
    top: 25%;
    right: 0;
    overflow: hidden;
    width:0%;
    transition: .6s;
    
}

.active{
    
    width : 20%;
    
}
