.usermenu{
    margin: auto;
    width: 300px;
    height:300px;
    background: #cecece;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: .6s;
    border: black 1px solid;

}

.usermenu button {
    
    text-decoration: none;
    font-size: 20px;
}

.usermenu img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}